#nav-bar {
  // background:grey;
  height: 5rem;
  position: relative;
  margin-top: 1rem;
  // box-shadow: 0 5px 5px -4px #80808038;    // too light
  box-shadow: 0 10px 10px -4px #80808038;    
  border-top: 2px solid #d3d3d359;

  // left nav section
  #nav-left {
    float: left;
    margin-left: 3rem;

    // vertically center element
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  // right nav section
  #lookup-input {
    width: 242px;
    margin-right: 3rem;
    position: absolute;
    right: 0%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    // background: pink;
    height: 1.4rem;

    // lookup button
    #get-stock {
      width: 1rem;
      vertical-align: middle;
    }

    // input field box
    #stock-symbol {
      // width: 76%;
      width: 220px;
    }
  }
  
}

#nav-bar #lookup-input #stock-symbol {
  border: 0;
  height: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-bottom: 1px solid black;
}
